

@font-face {
  font-family: 'MuseoSlab-500';
  src: url('fonts/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),  url('fonts/MuseoSlab-500.otf')  format('opentype'),
	     url('fonts/MuseoSlab-500.woff') format('woff'), url('fonts/MuseoSlab-500.ttf')  format('truetype'), url('fonts/MuseoSlab-500.svg#MuseoSlab-500') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSlab-300';
  src: url('fonts/MuseoSlab-300.eot?#iefix') format('embedded-opentype'),  url('fonts/MuseoSlab-300.woff') format('woff'), url('fonts/MuseoSlab-300.ttf')  format('truetype'), url('fonts/MuseoSlab-300.svg#MuseoSlab-300') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fz_25{font-size: 25px;}
.fz_40{font-size: 40px;}
.fw_700{font-weight: 700;}
.fw_900{font-weight: 900;}
.text_center{text-align: center;}
.muse_font{font-family: 'MuseoSlab-300'; font-weight: 300;}

.m_t_25{display: block; margin-top: 25px;}
.m_b_50{margin-bottom: 50px;}


.yellow_box_shadow{
	padding:7px 15px;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(255,195,14,1);
	-moz-box-shadow: 3px 3px 0px 0px rgba(255,195,14,1);
	box-shadow: 3px 3px 0px 0px rgba(255,195,14,1);

}


.white_box_shadow{
	padding:7px 15px;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(255,255,255,1);
	-moz-box-shadow: 3px 3px 0px 0px rgba(255,255,255,1);
	box-shadow: 3px 3px 0px 0px rgba(255,255,255,1);

}


.blue_text_with_yellow_bg{background: #FFC20E; display: inline-block; font-size: 30px; line-height: 25px;}
.white_text_red_bg{
	background: #ED3129; display: inline-block; font-size: 30px; line-height: 25px;color:#fff;
}
.white_text_red_bg{
	background: #FEC10E; display: inline-block; font-size: 30px; line-height: 25px;color:#fff;
}




.hvr-fade {
	background-color: #0095DA;
	color:#fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  border:1px solid transparent;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #fff;
  border:1px solid #0095DA;
  color: #0095DA;
}


.hvr_fade_red {
	background-color: #ED3129;
	color:#fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  border:1px solid transparent;
}
.hvr_fade_red:hover, .hvr_fade_red:focus, .hvr_fade_red:active {
  background-color: #fff;
  border:1px solid #ED3129;
  color: #ED3129;
}






html{overflow-x: hidden;}
body{overflow-x: hidden; font-family: 'Kanit', sans-serif; font-weight: 900;}
img{width: 100%;}
.logo{float: left;display: inline-block; line-height: 115px}
.logo img{max-width: 185px;}



.header_area{}

.menu_holder{ padding: 0 !important; position:relative; z-index: 99; }
.flexnav{width: auto; float: right !important;}
.flexnav li{float: left; display: inline; text-align: center; width: auto;}
.flexnav li a{padding:0;}
.flexnav li > ul{display: none;}
.slider_area{margin-bottom: 65px;}
.slider_area img{}

.home_content_area{}
.home_content_area .image_section {
    max-width: 150px;
    height: auto;
    float: left;
    margin-right: 15px;	
}

.home_content_area .text_section {margin-bottom: 65px;}
.home_content_area .text_section .title{margin-top: -5px; margin-bottom: 0;}
.home_content_area .text_section p{font-size: 13px;}




/* Home Donate area */
.home_hero_area{}
.home_hero_area {background: url('img/colour_layer.png') no-repeat; background-position: left bottom; background-color: #F3F3F3;}


.black_900{font-weight: 900;}
.m_t_25{display: block; margin-top: 25px;}


a:hover{
	text-decoration: none;
}






/* featured_blogarea */
.featured_blog_area{background: #2AB573;}
.featured_blog_area .col-md-4{
	background: #2AB573;
	color:#fff;
	padding-top: 100px;
	padding-bottom: 90px;
}

.featured_blog_area .col-md-4:hover{
	background: #24AD69;
}




/* Footer area */
.footer_area{background: #4A4A4A; color:#fff; text-align: center; padding:10px 0;}
.footer_area p{ margin-top: 8px; display: inline;}
.footer_area .footer_menu{margin-top: 8px; display:inline;}
.footer_area .footer_menu li{list-style: none;  display: inline-block; border-right:1px solid #fff; }
.footer_area .footer_menu li:last-child{list-style: none;  display: inline-block; border-right:0px solid #fff; }
.footer_area .footer_menu li a{display: block; color:#fff; padding:0 10px;}



/* featured_blogarea */
.testimonial_area{padding:100px 0; background: url('img/testimonial_bg.jpg') no-repeat; text-align: center;}
.testimonial_image_holder{
    position: absolute;
    top: 50%;
    left: -80px;
    margin-top: -80px;
}
.testimonial_image_holder img{
	width: 165px;
	height: 165px;
	border-radius: 50%;

}
.text_holder{position: relative; padding:80px 60px 60px 120px; max-width: 650px; margin: 0 auto; background: #fff}
.testimonial_area .bx-wrapper{/*max-width: 580px !important; */margin: 0 auto; background:none;}
.testimonial_text{font-size: 28px;font-weight: 700; font-style: italic; margin:0 auto; color:#FFC20E; line-height: 25px; text-align: left;}
.testimonial_text::before{
	content:url("img/tick.jpg");
	position: absolute;
	left:80px;
	top:20px;
}
.testimonial_text::after{
	content:url("img/tick.jpg");
	position: absolute;
	left:80px;
	bottom:65px;
}
.slider > div{position: relative; }
.bx-wrapper{border: 0px solid #ddd !important; box-shadow:0px 0px !important;}

.testi_client_name{
    font-family: 'MuseoSlab-300';
    font-weight: 300;
    font-size: 14px;
    margin-top: 16px;
    text-align: right;

}