

@font-face {
  font-family: 'MuseoSlab-500';
  src: url('/fonts/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),  url('/fonts/MuseoSlab-500.otf')  format('opentype'),
	     url('/fonts/MuseoSlab-500.woff') format('woff'), url('/fonts/MuseoSlab-500.ttf')  format('truetype'), url('/fonts/MuseoSlab-500.svg#MuseoSlab-500') format('svg');
  font-weight: normal;
  font-style: normal;
}



html{overflow-x: hidden;}
body{overflow-x: hidden; font-family: 'Kanit', sans-serif; font-weight: 900;}
img{width: 100%;}
.logo{float: left;display: inline-block; line-height: 115px}
.logo img{max-width: 185px;}



.header_area{}

.menu_holder{ padding: 0 !important; position:relative; z-index: 99; }
.flexnav{width: auto; float: right !important;}
.flexnav li{float: left; display: inline; text-align: center; width: auto;}
.flexnav li a{padding:0;}
.flexnav li > ul{display: none;}
.slider_area{margin-bottom: 65px;}
.slider_area img{}

.home_content_area{}
.home_content_area .image_section {
    max-width: 150px;
    height: auto;
    float: left;
    margin-right: 15px;	
}

.home_content_area .text_section {margin-bottom: 65px;}
.home_content_area .text_section .title{margin-top: -5px; margin-bottom: 0;}
.home_content_area .text_section p{font-size: 13px;}




/* Home Donate area */
.home_hero_area{}
.home_hero_area {background: url('img/colour_layer.png') no-repeat; background-position: left bottom}

.blue_with_yellow{}

/* Footer area */
.footer_area{background: #4A4A4A; color:#fff; text-align: center; padding:10px 0;}
.footer_area p{ margin-top: 8px; display: inline;}
.footer_area .footer_menu{margin-top: 8px; display:inline;}
.footer_area .footer_menu li{list-style: none;  display: inline-block; border-right:1px solid #fff; }
.footer_area .footer_menu li:last-child{list-style: none;  display: inline-block; border-right:0px solid #fff; }
.footer_area .footer_menu li a{display: block; color:#fff; padding:0 10px;}